<!-- NAVIGATION COMPONENT -->
<nav class="nav" id="navigation">
    <div class="nav__container">
        <a href="#" class="nav__logo" id="navLogo">
            <span class="nav__logo-icon">📐</span>
        </a>
        
        <div class="nav__menu" id="navMenu">
            <ul class="nav__list" id="navList">
                <!-- Navigation items will be injected here by JS -->
            </ul>
        </div>

        <button class="nav__toggle" id="navToggle" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>
